services:
  postgres:
    image: postgres:15-alpine
    container_name: postgres-ticket
    restart: unless-stopped
    ports:
      - 5432:5432
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - gin-high-concurrency-network

  migrate:
    image: migrate/migrate
    volumes:
      - ./migrations:/migrations
    command:
      [
        "-path",
        "/migrations",
        "-database",
        "postgres://postgres:postgres@postgres:5432/postgres?sslmode=disable",
        "up",
      ]
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - gin-high-concurrency-network

  postgres-test:
    image: postgres:15-alpine
    container_name: postgres-ticket-test
    restart: unless-stopped
    ports:
      - 5433:5432
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: test_db  # 測試用資料庫名稱
    volumes:
      - postgres_test_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - gin-high-concurrency-network

  # 測試資料庫的 migration
  migrate-test:
    image: migrate/migrate
    volumes:
      - ./migrations:/migrations
    command:
      [
        "-path",
        "/migrations",
        "-database",
        "postgres://postgres:postgres@postgres-test:5432/test_db?sslmode=disable",
        "up",
      ]
    depends_on:
      postgres-test:
        condition: service_healthy
    networks:
      - gin-high-concurrency-network

volumes:
  postgres_data:
  postgres_test_data:

networks:
  gin-high-concurrency-network:
    driver: bridge
